<template>
  <article class="post">
    <header class="post__header">
      <div class="post__title">
        <h1>Post title</h1>
        <nuxt-link to="/">
          <i class="el-icon-back"></i>
        </nuxt-link>
      </div>
      <div class="post__info">
        <small>
          <i class="el-icon-time"></i> {{ new Date().toLocaleString() }}
        </small>
        <small>
          <i class="el-icon-view"></i>
          42
        </small>
      </div>
      <div class="post__image">
        <img
          src="https://cdn21.img.ria.ru/images/155959/50/1559595090_0:0:3160:2048_600x600_80_0_1_be476b2955b5e027bdbb47b9ff1945f2.jpg"
          alt="post image"
          class="post__img"
        />
      </div>
    </header>
    <main class="post__content">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
        reprehenderit hic corrupti, ratione ipsum quod at excepturi deserunt
        perspiciatis illum!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
        reprehenderit hic corrupti, ratione ipsum quod at excepturi deserunt
        perspiciatis illum!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
        reprehenderit hic corrupti, ratione ipsum quod at excepturi deserunt
        perspiciatis illum!
      </p>
    </main>
    <footer>
      <comment-form
        v-if="canAddComment"
        @created="createCommentHandler"
      ></comment-form>
      <div v-if="comments" class="comments">
        <app-comment v-for="(comment, index) in 4" :key="index" />
      </div>
      <div v-else class="text-center">No comments</div>
    </footer>
  </article>
</template>

<script>
import AppComment from '@/components/main/AppComment.vue'
import CommentForm from '@/components/main/CommentForm.vue'
export default {
  validate({ params }) {
    return Boolean(params.id)
  },
  components: {
    AppComment,
    CommentForm
  },
  data() {
    return {
      comments: true,
      canAddComment: true
    }
  },
  methods: {
    createCommentHandler() {
      this.canAddComment = false
    }
  }
}
</script>

<style lang="scss" scoped>
.post {
  max-width: 600px;
  margin: 0 auto;

  &__header {
    margin-bottom: 1.5rem;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__img {
    width: 100%;
  }

  &__content {
    margin-bottom: 2rem;
  }
}
</style>
