<template>
  <el-form
    ref="form"
    :model="controls"
    :rules="rules"
    @submit.native.prevent="onSubmit()"
  >
    <h1 class="mb">Create new post</h1>
    <el-form-item label="Enter post title" prop="title">
      <el-input v-model="controls.title"></el-input>
    </el-form-item>

    <el-form-item label="Allowed formats .md or .html" prop="text">
      <el-input
        v-model="controls.text"
        resize="none"
        type="textarea"
        :rows="10"
      ></el-input>
    </el-form-item>

    <el-button class="mb" type="success" plain @click="previewDialog = true">
      Preview
    </el-button>

    <el-dialog title="Preview" :visible.sync="previewDialog">
      <div :key="controls.text">
        <vue-markdown>{{ controls.text }}</vue-markdown>
      </div>
    </el-dialog>

    <el-upload
      ref="upload"
      class="mb"
      drag
      action="https://jsonplaceholder.typicode.com/posts/"
      :auto-upload="false"
      :on-change="handleImageChange"
    >
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">
        Drop file here or <em>click to upload</em>
      </div>
      <div slot="tip" class="el-upload__tip">
        jpg/png files with a size less than 500kb
      </div>
    </el-upload>

    <el-form-item>
      <el-button native-type="submit" type="primary" :loading="loading" round>
        Create post
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  layout: 'admin',
  middleware: ['admin-auth'],
  data() {
    return {
      image: null,
      previewDialog: false,
      loading: false,
      controls: {
        title: '',
        text: ''
      },
      rules: {
        text: [
          {
            required: true,
            message: 'Enter post content',
            trigger: 'blur'
          }
        ],
        title: [
          {
            required: true,
            message: 'Enter post title',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async (valid) => {
        if (valid && this.image) {
          this.loading = true

          try {
            const formData = {
              text: this.controls.text,
              title: this.controls.title,
              image: this.image
            }
            await this.$store.dispatch('post/createPost', formData)
            this.controls.text = ''
            this.controls.title = ''
            this.image = null
            this.$refs.upload.clearFiles()
            this.$message.success('The post has been created')
          } catch (e) {
          } finally {
            this.loading = false
          }
        } else {
          this.$message.warning('The form is not valid!')
        }
      })
    },
    handleImageChange(file, fileList) {
      this.image = file.raw
    }
  },
  head() {
    return {
      title: `Post | create`
    }
  }
}
</script>

<style lang="scss" scoped>
form {
  max-width: 600px;
}
</style>
