<template>
  <el-table empty-text="No data" :data="posts" style="width: 100%">
    <el-table-column prop="title" label="Post Name" />

    <el-table-column label="Date">
      <template slot-scope="{ row: { date } }">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px">{{
          new Date(date).toLocaleString()
        }}</span>
      </template>
    </el-table-column>

    <el-table-column prop="views" label="Post views">
      <template slot-scope="{ row: { views } }">
        <i class="el-icon-view"></i>
        <span style="margin-left: 10px">{{ views }}</span>
      </template>
    </el-table-column>

    <el-table-column prop="comments" label="Comments">
      <template slot-scope="{ row: { comments } }">
        <i class="el-icon-s-comment"></i>
        <span style="margin-left: 10px">{{ comments.length }}</span>
      </template>
    </el-table-column>

    <el-table-column label="Operations">
      <template slot-scope="{ row }">
        <el-tooltip effect="dark" content="Edit" placement="top">
          <el-button
            icon="el-icon-edit"
            circle
            type="primary"
            @click="open(row._id)"
          >
          </el-button>
        </el-tooltip>
        <el-tooltip effect="dark" content="Remove" placement="top">
          <el-button
            icon="el-icon-delete"
            circle
            type="danger"
            @click="remove(row._id)"
          >
          </el-button>
        </el-tooltip>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store }) {
    const posts = await store.dispatch('post/fetchAdminPosts')
    return { posts }
  },
  methods: {
    open(id) {
      this.$router.push(`/admin/post/${id}`)
    },
    async remove(id) {
      try {
        await this.$confirm('Delete post?', 'Alert!', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        })
        await this.$store.dispatch('post/removePost', id)
        this.posts = this.posts.filter((p) => p._id !== id)
        this.$message.success('The post has been deleted')
      } catch (error) {}
    }
  }
}
</script>

<style lang="scss" scoped></style>
