<template>
  <el-card :style="{ width: '500px' }" shadow="always">
    <el-form
      ref="form"
      :model="controls"
      :rules="rules"
      @submit.native.prevent="onSubmit()"
    >
      <h1>Enter to admin panel</h1>
      <el-form-item label="Login" prop="login">
        <el-input v-model.trim="controls.login"></el-input>
      </el-form-item>

      <div class="mb2">
        <el-form-item label="Password" prop="password">
          <el-input v-model.trim="controls.password" type="password"></el-input>
        </el-form-item>
      </div>

      <el-form-item>
        <el-button native-type="submit" type="primary" :loading="loading" round>
          Log in
        </el-button>
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script>
export default {
  layout: 'empty',
  data() {
    return {
      loading: false,
      controls: {
        login: '',
        password: ''
      },
      rules: {
        login: [
          {
            required: true,
            message: 'Enter login',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Enter password',
            trigger: 'blur'
          },
          {
            min: 6,
            message: 'Password must be at least 6 symbols',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  mounted() {
    const { message } = this.$route.query
    switch (message) {
      case 'login':
        this.$message.info('Firstly log in the system')
        break
      case 'logout':
        this.$message.success('Successfull logout')
        break
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          this.loading = true

          try {
            const formData = {
              login: this.controls.login,
              password: this.controls.password
            }
            await this.$store.dispatch('auth/login', formData)
            this.$router.push('/admin')
          } catch (e) {
            this.loading = false
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
