<template>
  <el-form
    ref="form"
    :model="controls"
    :rules="rules"
    @submit.native.prevent="onSubmit()"
  >
    <h1>Create user</h1>
    <el-form-item label="Login" prop="login">
      <el-input v-model.trim="controls.login"></el-input>
    </el-form-item>

    <div class="mb2">
      <el-form-item label="Password" prop="password">
        <el-input v-model.trim="controls.password" type="password"></el-input>
      </el-form-item>
    </div>

    <el-form-item>
      <el-button native-type="submit" type="primary" :loading="loading" round>
        Create
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  layout: 'admin',
  middleware: ['admin-auth'],
  data() {
    return {
      loading: false,
      controls: {
        login: '',
        password: ''
      },
      rules: {
        login: [
          {
            required: true,
            message: 'Enter login',
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            message: 'Enter password',
            trigger: 'blur'
          },
          {
            min: 6,
            message: 'Password must be at least 6 symbols',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          this.loading = true

          try {
            const formData = {
              login: this.controls.login,
              password: this.controls.password
            }
            await this.$store.dispatch('auth/createUser', formData)
            this.$message.success('New user has been added successfully')
            this.controls.login = ''
            this.controls.password = ''
            this.loading = false
          } catch (e) {
            this.loading = false
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
form {
  width: 600px;
  margin: 0 auto;
}
</style>
