<template>
  <el-card class="comment">
    <div class="comment__header">
      <span>Person name</span>
      <span>
        <i class="el-icon-time"></i> {{ new Date().toLocaleString() }}
      </span>
    </div>
    <div class="comment__text">
      Lorem ipsum dolor sit amet.
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'AppComment'
}
</script>

<style lang="scss" scoped>
.comment {
  margin-bottom: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }
  &__text {
    white-space: pre-line;
  }
}
</style>
