<template>
  <el-card class="post" shadow="hover" :body-style="{ padding: 0 }">
    <header slot="header" class="post__header">
      <h3>Post title</h3>
      <small>
        <i class="el-icon-time"></i> {{ new Date().toLocaleString() }}
      </small>
    </header>
    <div class="post__body">
      <img
        src="https://cdn21.img.ria.ru/images/155959/50/1559595090_0:0:3160:2048_600x600_80_0_1_be476b2955b5e027bdbb47b9ff1945f2.jpg"
        alt="post image"
        class="post__img"
      />
    </div>
    <footer class="post__footer">
      <el-button round @click="openPost">Open post</el-button>
      <span>
        <i class="el-icon-chat-round"></i>
        12
      </span>
    </footer>
  </el-card>
</template>

<script>
export default {
  name: 'AppPost',
  methods: {
    openPost() {
      const id = 'test-id'
      this.$router.push(`/post/${id}`)
    }
  }
}
</script>

<style lang="scss" scoped>
.post {
  margin-bottom: 1.5rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    width: 100%;
  }
  &__footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
