<template>
  <el-form
    ref="form"
    :model="controls"
    :rules="rules"
    @submit.native.prevent="onSubmit()"
  >
    <h1>Add comment</h1>
    <el-form-item label="Your name" prop="name">
      <el-input v-model.trim="controls.name"></el-input>
    </el-form-item>
    <el-form-item label="Your message" prop="text">
      <el-input
        v-model.trim="controls.text"
        type="textarea"
        resize="none"
        :rows="2"
      ></el-input>
    </el-form-item>
    <el-form-item>
      <el-button native-type="submit" type="primary" :loading="loading" round>
        Add comment
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: 'CommentForm',
  data() {
    return {
      loading: false,
      controls: {
        name: '',
        text: ''
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Name should not be empty',
            trigger: 'blur'
          }
        ],
        text: [
          {
            required: true,
            message: 'Type your comment',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.loading = true
          const formData = {
            name: this.controls.name,
            text: this.controls.text,
            postId: ''
          }
          try {
            setTimeout(() => {
              this.$message.success('Your comment has been added')
              this.$emit('created')
            }, 2000)
          } catch (e) {
            this.loading = false
          }
          return formData
        }
      })
    }
  }
}
</script>
