<template>
  <div class="page-wrapper">
    <el-breadcrumb class="mb" separator="/">
      <el-breadcrumb-item :to="{ path: '/admin/list' }"
        >Posts
      </el-breadcrumb-item>

      <el-breadcrumb-item>
        {{ post._id }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-form
      ref="form"
      :model="controls"
      :rules="rules"
      @submit.native.prevent="onSubmit()"
    >
      <!-- <h1>Enter to admin panel</h1> -->
      <el-form-item label="Allowed formats .md or .html" prop="text">
        <el-input
          v-model.trim="controls.text"
          resize="none"
          type="textarea"
          :rows="10"
        ></el-input>
      </el-form-item>

      <div class="mb">
        <small class="mr">
          <i class="el-icon-time"></i>
          <span>{{ new Date(post.date).toLocaleString() }} </span>
        </small>

        <small>
          <i class="el-icon-view"></i>
          <span>{{ post.views }}</span>
        </small>
      </div>

      <el-form-item>
        <el-button native-type="submit" type="primary" :loading="loading" round>
          Update
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store, params }) {
    const post = await store.dispatch('post/fetchPostById', params.id)
    return { post }
  },
  data() {
    return {
      loading: false,
      controls: {
        text: ''
      },
      rules: {
        text: [
          {
            required: true,
            message: 'Enter post content',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          this.loading = true

          try {
            const formData = {
              text: this.controls.text,
              id: this.post._id
            }
            await this.$store.dispatch('post/update', formData)
            this.$message.success('The post has been updated')
          } catch (e) {
            this.loading = false
          }
        }
      })
    }
  },
  head() {
    return {
      title: `Post | ${this.post.title}`
    }
  },
  validate({ params }) {
    return Boolean(params.id)
  }
}
</script>

<style lang="scss" scoped>
.page-wrapper {
  max-width: 600px;
}
.mr {
  margin-right: 2rem;
}
</style>
