<template>
  <div class="error">
    <div class="error__content">
      <h1 class="error__title">404 ERROR</h1>
      <nuxt-link to="/">Home</nuxt-link>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
  }

  &__title {
    color: red;
    margin-bottom: 1rem;
  }
}
</style>
