<template>
  <el-row type="flex" justify="center">
    <el-col :xs="24" :sm="18" :md="12" :lg="10">
      <app-post v-for="(post, index) in 3" :key="index" />
    </el-col>
  </el-row>
</template>

<script>
import AppPost from '@/components/main/AppPost.vue'
export default {
  components: {
    AppPost
  },
  head() {
    return {
      title: 'Main'
    }
  }
}
</script>
